@model Producto
 
<h1>Formulario de registro de producto</h1>

<form action="~/productos/registrar" method="post">

<div class="form-group">
    <label>Nombre:</label>
    <input type="text" class="form-control" asp-for="Nombre" >
    @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    <label>Foto:</label>
    <input type="text" class="form-control" asp-for="Foto" >
</div>

<div class="form-group">
    <label>Precio:</label>
    <input type="text" class="form-control" asp-for="Precio" >
    @Html.ValidationMessageFor(m => m.Precio, "", new { @class = "text-danger" })
</div>

<button class="btn btn-primary">Enviar</button>

</form>