@model List<SistemaPago>
<!DOCTYPE html>
<html lang="en">
<head> 
  <title>Registro de Alumnos</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <br>
<h1>Listado de Alumnos</h1>

<table class="table">
    <tr>
        <th>Código</th>
        <th>Apellidos y Nombres</th>
        <th>Dni</th>
        <th>Operaciones</th>
    </tr>

    @foreach(var p in Model) {
        <tr>
            <td>@p.Id</td>
            <td>@p.Nombre</td>
            <td>@p.Dni</td>
            <td>
                 <a href="~/SistemaPagos/Registro_Pagos/@p.Id">Realizar Pago</a> |
                <a href="~/SistemaPagos/actualizar/@p.Id">Actualizar</a> | 
                <a href="~/SistemaPagos/borrar/@p.Id">Borrar</a>
            </td>
        </tr>
    }
    

</table>


<a href="~/SistemaPagos/Index">Inicio</a>
</div>
</body>
</html>