<!DOCTYPE html>
<html lang="en">
<head>
  <title>Registro de Alumnos</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <br>
  <center><h2>Registro de Alumno - Academia</h2>
  <h2>Fermin Tanguis</h2></center>
<br>    
  <div class="container">
    <!-- Control the column width, and how they should appear on different devices -->
    <div class="row">
      <div class="col-sm-6">
          <center><h3>Informaci贸n Personal</h3></center>

        <div class="form-group">
        <label>Apellidos y Nombres:</label>
        <input type="text" class="form-control" placeholder="Apellidos y Nombres">
        </div>

        <div class="form-group">
        <label>Apoderado:</label>
        <input type="text" class="form-control" placeholder="Apoderado">
        </div>

        <div class="form-group">
        <label>Direcci贸n:</label>
        <input type="text" class="form-control" placeholder="Direcci贸n">
        </div>

        <div class="form-group">
        <label>Dni:</label>
        <input type="text" class="form-control" placeholder="Dni">
        </div>

        <div class="form-group">
        <label>Celular:</label>
        <input type="text" class="form-control" placeholder="Celular">
        </div>


      </div>

      <div class="col-sm-6">
          <center><h3>Informaci贸n Educativa</h3></center>
    <center>
        <div class="form-group col-sm-6">
            <label for="sel1">Turno:</label>
            <select class="form-control">
                <option>1</option>
                <option>2</option>

            </select>
        </div>

        <div class="form-group col-sm-6">
            <label for="sel1">Aula:</label>
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>

        <div class="form-group col-sm-6">
            <label for="sel1">Ciclo:</label>
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>

        <div class="form-group col-sm-6">
            <label for="sel1">Modalidad:</label>
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>

        <div class="form-group col-sm-6">
            <label for="sel1">Postula:</label>
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>
    </center>

      </div>
    </div>
    <br>
    <center>
    <button class="btn btn-primary">Registrar</button>
    </center>
    <br>

  </div>
</div>

</body>
</html>
